
.icon-form-name{width:25px; height:25px; background:url(img/i-form-name.png) 0 0 no-repeat;  background-size: 100%;}
.icon-form-password{width:25px; height:25px; background:url(img/i-form-password.png) 0 0 no-repeat;  background-size: 100%;}
